.date-range-calendar {
  .react-datepicker__header {
    background-color: rgba(84, 149, 212, 0.1) !important;
  }

  .react-datepicker__current-month,
  .react-datepicker-time__header,
  .react-datepicker-year-header {
    color: #5495D4 !important;
  }

  .react-datepicker__year-read-view--down-arrow,
  .react-datepicker__month-read-view--down-arrow,
  .react-datepicker__month-year-read-view--down-arrow,
  .react-datepicker__navigation-icon::before {
    border-color: #5495D4 !important;
  }

  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    color: #5495D4 !important;
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--selected,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--selected,
  .react-datepicker__quarter-text--in-selecting-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--selected,
  .react-datepicker__year-text--in-selecting-range,
  .react-datepicker__year-text--in-range {
    background-color: #5495D4 !important;
    color: #fff !important;
  }

  .react-datepicker__day--keyboard-selected {
    background-color: #5495D4 !important;
    color: #fff !important;
  }

  .react-datepicker__day--keyboard-selected:hover,
  .react-datepicker__month-text--keyboard-selected:hover,
  .react-datepicker__quarter-text--keyboard-selected:hover,
  .react-datepicker__year-text--keyboard-selected:hover {
    background-color: #5495D4 !important;
  }

  .react-datepicker__week-number--selected {
    background-color: #5495D4 !important;
  }

  .react-datepicker__year-dropdown-container--select,
  .react-datepicker__month-dropdown-container--select,
  .react-datepicker__month-year-dropdown-container--select,
  .react-datepicker__year-dropdown-container--scroll,
  .react-datepicker__month-dropdown-container--scroll,
  .react-datepicker__month-year-dropdown-container--scroll {
    select {
      color: #5495D4 !important;

      &:focus,
      &:focus-visible,
      &:focus-within,
      &:active {
        border-color: #5495D4 !important;
      }
    }
  }

  .react-datepicker__week:hover {
    .customDayClass {
      background: #5495D4 !important;
    }
  }

  .react-datepicker__week {
    .customDayClass {
      color: #5495D4 !important;
    }
  }
}
