@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Popover/Toast colors */
  --popover: #ffffff;
  --popover-foreground: #17181a;
  --border: #e7e7e7;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* black */
  --color-black: #17181a;

  /* green */
  --color-green: #08ad36;
  --color-green-100: #016630;
  --color-green-200: #f0fdf4;

  /* orange */
  --color-orange: #ff8904;
  --color-orange-100: #fff7ed;

  /* blue */
  --color-blue: #1565d8;

  /* gray */
  --color-gray: #737373;
  --color-gray-100: #e7e7e7;

  /* white */
  --color-white: #ffffff;
  --color-white-50: #fafafa;
  --color-white-200: #f4f4f4;

  /* red */
  --color-red: #ff6467;
  --color-red-100: #fef2f2;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
  color: var(--color-black);
}

/* Hide print-view portal in normal view, show only when printing */
.print-view {
  display: none !important;
}

/* Hide no-print elements when printing */
@media print {
  .print-view {
    display: block !important;
  }
  
  .no-print {
    display: none !important;
  }
}
