.table_wrapper {
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  thead {
    th {
      padding: 15px 16px;
      text-align: start;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #717680;
      background-color: var(--color-gray-50);
      border-bottom: 1px solid #F5F5F5;
      text-transform: uppercase;
    }
  }

  tbody {
    td {
      padding: 15px 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: var(--color-gray-700);
      text-align: left;
      vertical-align: middle;
      border-bottom: 1px solid #F5F5F5; /* Divider between rows */
    }

    tr:last-child td {
      border-bottom: none; /* Remove border for the last row */
    }
  }
  tr {
    &:hover {
      background-color: #F5F5F5; /* Light hover effect */
    }
  }
}
